*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
a {
  text-decoration: none;
  background: 0;
  padding: 0;
  border: 0;
}

body {
  min-width: 1000px;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(64, 0, 1, 0.81) 50%,
      rgb(0, 0, 0) 100%
    ),
    url("./items/for-btns.png") center / cover;
  margin: 0;

  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  padding: 20px;
}

.gallery {
  position: relative;
  align-self: center;
  justify-self: center;
  /* background: url("./items/for-btns.png") center / cover; */
  transform: scale(1.2);
  opacity: 0.9;
  width: 600px;
  height: 600px;

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px; */
}

#gallery-img1 {
  /* position: absolute;
  top: 0; */
  height: 100px;
  width: 100px;
  /* transform: scaleY(0); */
  transition: 0.3s;
}

#gallery-img2 {
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 100px;
  width: 100px;
  /* transform: scaleY(0); */
  transition: 0.3s;
}

#gallery-img3 {
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 100px;
  width: 100px;
  /* transform: scaleY(0); */
  transition: 0.3s;
}

#gallery-img4 {
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 100px;
  width: 100px;
  /* transform: scaleY(0); */
  transition: 0.3s;
}

.btn-cont {
  width: 100px;
  height: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.btn-cont button {
  transform: scale(1);
}

.btn-cont button img {
  height: 100px;
}

.btn-cont button:hover img {
  transform: scale(1.5);
  transition: 0.4s;
}

.btn-cont button:hover {
  background: rgba(255, 255, 255, 0.171);
  transition: 0.4s;
}

@media (max-width: 900px) {
  body {
    max-width: 700px;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    padding: 10px;
  }

  .gallery {
    align-self: center;
    justify-self: center;
    background: url("./items/for-btns.png") center / cover;
    transform: scale(1.2);
    opacity: 0.9;
    width: 300px;
    height: 90%;
  }

  #gallery-img {
    height: 100%;
    width: 100px;
  }

  .btn-cont {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .btn-cont button {
    transform: scale(1);
  }

  .btn-cont button:hover img {
    transform: scale(1.5);
    transition: 0.4s;
  }

  .btn-cont button:hover {
    background: rgba(255, 255, 255, 0.171);
    transition: 0.4s;
  }
}
